{
  "env": {
    "mocha": true
  },
  "globals": {
    "KvKeeper": false,
    "assert": false,
    "chai": false,
    "sinon": false,
    "indexedDBStub": false,
    "DbEventStub": false,
    "IDBOpenDBRequestStub": false
  }
}
